<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="FilterExtensions" type="GenericLogParser.FilterExtensions.FilterExtensionsSection, GenericLogParser"/>
        <section name="SavedExpressions" type="GenericLogParser.SavedExpressions.SavedExpressionsSection, GenericLogParser"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GenericLogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <FilterExtensions>
        <FilterExtension Description="Log Files (*.log; *.txt)" Extension="*.log;*.txt"/>
        <FilterExtension Description="All Files (*.*)" Extension="*.*"/>
    </FilterExtensions>
    <SavedExpressions>
        <SavedExpression Name="DateTime" HeaderExpression="((\d{4})-(\d\d)-(\d\d) (\d\d)\:(\d\d)\:(\d\d)\,(\d{3}))" />
    </SavedExpressions>
    <userSettings>
        <GenericLogParser.Properties.Settings>
            <setting name="LastHeaderSearchExpression" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastTestData" serializeAs="String">
                <value/>
            </setting>
        </GenericLogParser.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
